.article-list
  article
    figure.image
      max-height: 200px
      overflow: hidden
article.content
  header
    border-bottom: 1px dotted #ccc
    margin-bottom: 3rem;

    h2
      margin-bottom: 1rem;
