=hero-overlay
  position: relative
  .hero-body
    z-index: 3
  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-size: cover
    background-position: center 
  
.hero
  &.is-danger
    background-color: $red
    // https://www.svgbackgrounds.com/#rose-petals
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d0021b'/%3E%3Cstop offset='1' stop-color='%23300'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;


    .title
      color: #FFFFFF;
      letter-spacing: -2px;
      text-shadow: 0 2px 2px rgba(0,0,0,0.33);
    .subtitle
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: -1px;
      text-shadow: 0 2px 2px rgba(0,0,0,0.33);
    .button.is-white
      box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.19);
      letter-spacing: -0.33px;
      font-weight: bold;
      color: $red
      font-family: $family-heading


  .title
  &.is-gears
    background: url('/images/hero/gears.jpg')
    background-size: cover
  
  &.is-highlight
    h1, h2, p
      color: white
      span
        background-color: $red
        display: inline-block
        padding: 0 10px
        margin: 2px 0

  &.is-lego-rocket
    background: transparent url('/images/hero/lego-rocket.jpg')
    background-size: cover
    background-position: center bottom
    h1, h2, p
      color: white

  &.is-rocket
    background: transparent url('/images/hero/rocket@2x.jpg')
    background-size: cover
    background-position: center bottom
    h1, h2, p
      color: white

  &.is-booster
    background: transparent url('/images/hero/schematic-booster.svg')
    background-size: cover
    background-position: center 

  &.is-flight-plan
    position: relative
    background: transparent url('/images/hero/schematic-orbit.svg')
    background-size: cover
    background-position: top

  &.is-mvp
    +hero-overlay
    &:before
      background: transparent url('/images/hero/light-bulbs.jpg')
      background-position: top center
      background-size: cover
      opacity: 0.1

  &.is-fade-to-white
    .hero-body
      z-index: 3
    &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      $color: white
      background-image: linear-gradient(-180deg, rgba($color,0.00) 46%, rgba($color,0.99) 90%);
      z-index: 2

section.hero
  .hero-body
    padding-left: 1.5rem
    padding-right: 1.5rem

.hero
  .content
    a:not(.button)
      color: $link

.sales-letter
  p
    font-family: $family-fixed
    letter-spacing: -1px;
  margin-top: -20px
  +tablet
    margin-top: -200px
    .box
      padding-left: 3rem
      padding-right: 4rem
  .box
    margin-right: 1rem
    margin-left: 1rem

