.hero
  &.is-gears
    background: url('/images/hero/gears.png')
    background-size: cover
  
  &.is-rocket
    background: transparent url('/images/hero/rocket@2x.jpg')
    background-size: cover
    background-position: center bottom

