.container
  +from($desktop)
    &.is-desktop
      max-width: $desktop - (2 * $gap)
      width: $desktop - (2 * $gap)

  +from($tablet)
    &.is-tablet
      max-width: $tablet - (2 * $gap)
      width: auto



