
nav.navbar
  font-family: $family-heading
  // font-weight: bold
  &.is-fixed
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  &.is-transparent
    background: rgba(255,255,255,0.7)

  +until($desktop)
    #menu-toggle:checked + #navMenu
      display: block;

  #navMenu
    transition: all 200ms ease-out
