@import 'initial_variables';

h1,h2,h3{
  font-family: $family-heading;
  font-weight: 700;
}

.panel-heading{
  font-family: $family-heading;
}

.error{
  color: $red;
}


.control.has-text-right{
  // https://stackoverflow.com/a/36606694/155826
  margin-left: auto;
}

// horizontal rule with words in the middle
.hr {
  display: flex;
  flex-direction: row;
  line-height: 4;
  &:before, &:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #eee;
    margin: auto;
  }
}


