---
pageable: true
width: "is-desktop"
title: Portfolio
subtitle: Work we've done
blog: portfolio

---
header class="container w-full px-4 my-4 md:my-16 leading-normal"
  h1 class="font-headline md:text-5xl"= current_page.data.title
  h2 class="font-headline font-normal text-grey-darker"= current_page.data.subtitle


= partial 'article_list'
