---

title: Thank You
subtitle: "Thanks for contacting us! "
layout: about

---

markdown:
  ### What happens next? 

  1.  We'll be in touch soon to schedule your free 30-minute strategy call.
  2.  To prepare for the call, please fill out our very short [Pre-Call Questionnaire](/start).
  3.  Your free strategy call will be our opportunity to get to know each other and find out if your project is a good fit for our services. 

  #### How does the process work? 

  1.  We do your strategy call, and find out that we're a good fit for your project, and you're excited about working with us. 
  2.  We conduct your Flight Plan meeting. This is a full-day meeting at your location. 
  3.  We create your Flight Plan. Your Flight Plan is a detailed guide to your project. 
  4.  We create Version 1 of your project. 
  5.  We help you launch Version 1 to the world. 
  6.  You get your first customers and are on your way to success. 

  #### Interested in finding out more?

  *   Download our [Flight Plan Document Sample.pdf](/downloads/FlightPlanGuidebook-1.2.pdf).

